<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a City</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>
<body>
<h1>Add new City</h1>
<p>
    <a href="/city/list">Black to list</a>
</p>
<form method="post" th:object="${city}" th:action="@{/city/create}" class="form-group">
    <table>
        <tr>
            <th>City:</th>
            <td><input class="form-control" type="text" th:field ="*{name}"></td>
        </tr>

        <tr>
            <th>Country:</th>
            <td>
                <select th:field="*{country}">
                    <option th:each="country: ${countries}"
                            th:value="${country.id}"
                            th:text="${country.name}">
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <th>Area:</th>
            <td><input class="form-control" type="text" th:field ="*{area}"></td>
        </tr>

        <tr>
            <th>Population:</th>
            <td><input class="form-control" type="text" th:field ="*{population}"></td>
        </tr>

        <tr>
            <th>GDP:</th>
            <td><input class="form-control" type="text" th:field ="*{gdp}"></td>
        </tr>

        <tr>
            <th>Description:</th>
            <td><textarea rows="10" cols="80" th:field="*{description}"></textarea></td>
        </tr>

        <tr>
            <td><input type="submit" value="Create" class="btn btn-outline-success btn-sm"></td>
            <td><input type="reset" value="Reset" class="btn btn-outline-warning btn-sm"></td>
        </tr>
    </table>
    <br>
    <th:block th:if="${message}">
        <span th:text="${message}" class="alert alert-success" role="alert"></span>
    </th:block>
</form>
</body>
</html>